* text=auto eol=lf

# Scripts
*.ps1 text eol=crlf
*.bat text eol=crlf
*.sh  text eol=lf

# Configs
*.yml  text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini  text eol=lf

# Code
*.py    text eol=lf
*.ipynb text eol=lf

# Docs
*.md  text eol=lf
*.txt text eol=lf
